<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo List</title>
    <link href="/css/private/account-page.css" rel="stylesheet">
    <link href="/css/fragments/header-fragment.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header-fragment.html :: header-fragment (userName=${userName})"></div>
<div class="page-wrapper">
    <div class="container">
        <div class="header-container">
            <div class="header__text">
                <h2>ToDo List</h2>
            </div>
            <div class="header__statistics">
                <span>[[${numberOfActiveRecords}]] more to do, [[${numberOfDoneRecords}]] done</span>
            </div>
        </div>
        <div class="filter-container">
            <form th:with="filter=${#strings.toLowerCase(param.filter)}" action="/account" method="get" class="filter-form">
                <div class="filter-form__input">
                    <input th:checked="${filter != 'active' and filter != 'done'}" type="radio" id="filter-form__status_all" name="filter" value="all">
                    <label for="filter-form__status_all">All</label>
                </div>
                <div class="filter-form__input">
                    <input th:checked="${filter == 'active'}" type="radio" id="filter-form__status_active" name="filter" value="active">
                    <label for="filter-form__status_active">Active</label>
                </div>
                <div class="filter-form__input">
                    <input th:checked="${filter == 'done'}" type="radio" id="filter-form__status_done" name="filter" value="done">
                    <label for="filter-form__status_done">Done</label>
                </div>
                <button type="submit">Apply</button>
            </form>
        </div>
        <div th:with="isRecordsEmpty=${records == null || records.isEmpty()}" class="records-container">
            <div th:if="${isRecordsEmpty}" th:switch="${#strings.toLowerCase(param.filter)}" class="hint">
                <span th:case="'active'">There are no active tasks!</span>
                <span th:case="'done'">There are no done tasks!</span>
                <span th:case="*">There are no tasks at all, try to add new one!</span>
            </div>
            <div th:if="${!isRecordsEmpty}" th:each="record: ${records}" class="record">
                <div class="record__title">
                    <span th:text="${record.title}" th:classappend="${record.status.name == 'DONE' ? 'record__title_strikethrough' : ''}"></span>
                </div>
                <div class="record__controls">
                    <form th:if="${record.status.name == 'ACTIVE'}" action="/account/make-record-done" method="post" class="record__controls-form">
                        <input th:value="${record.id}" type="hidden" name="id">
                        <input th:value="${#strings.toLowerCase(param.filter)}" type="hidden" name="filter">
                        <button type="submit" class="button_type_approve">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_258_5036)">
                                    <path d="M8.5 0C3.808 0 0 3.808 0 8.5C0 13.192 3.808 17 8.5 17C13.192 17 17 13.192 17 8.5C17 3.808 13.192 0 8.5 0ZM7.65 12.257L3.4 8.007L4.5985 6.8085L7.65 9.8515L12.4015 5.1L13.6 6.307L7.65 12.257Z" fill="#fff"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_258_5036">
                                        <rect width="17" height="17" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </form>
                    <form action="/account/delete-record" method="post" class="record__controls-form">
                        <input th:value="${record.id}" type="hidden" name="id">
                        <input th:value="${#strings.toLowerCase(param.filter)}" type="hidden" name="filter">
                        <button type="submit" class="button_type_close">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12.071 13.485l-2.828 2.829-1.415-1.415 2.829-2.828-2.829-2.828 1.415-1.415 2.828 2.829L14.9 7.828l.707.708.707.707-2.829 2.828 2.829 2.829-1.415 1.414-2.828-2.829z" fill="#000"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="management-container">
            <form action="/account/add-record" method="post" class="management-form">
                <input type="text" name="title" placeholder="What needs to be done..." class="management-form__input">
                <button type="submit" class="management-form__button">Add Record</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>