<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something went wrong</title>
    <link href="/css/public/error/error-page.css" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="title">
            <h2>Something went wrong</h2>
        </div>
        <div class="description">
            <h4>We are already working on the problem</h4>
        </div>
        <div class="navigation">
            <a href="/account">Account Page</a>
        </div>
    </div>
</div>
</body>
</html>